.container-fluid{
    .navbar-brand{
        max-width: 50px;
        max-height: 50px;
        border-radius: 100%;
        position: relative;
        left: 3rem;
        @media (max-width: 500px){
         left: 1rem;   
        }
    }
    .navbar-nav{
        position: relative;
        left: 83%;
        right: 3rem;
        
        @media (max-width: 991px){
            position: relative;
            right: 0%;
            transform: translateX(-80%);
            text-align: center;
        }

    }
    .navbar-toggler{
        position: relative;
        right: 4rem;
        @media (max-width: 500px){
            right: 1rem;
        }
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
    .navbar-toggler:hover{
        box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width);
    }
}
